# Whenever this version string changes, the application is configured
# and rebuilt from scratch
VERSION = comet-2016-03-07

CPP = cpp
FPP = cpp
CC  = icc
CXX = icpc
F77 = ifort
F90 = ifort

CPPFLAGS = -DCCTK_DISABLE_OMP_COLLAPSE
FPPFLAGS = -DCCTK_DISABLE_OMP_COLLAPSE -traditional
CFLAGS   = -g -traceback -debug all -xHOST -align -std=c99 -ansi_alias -U__STRICT_ANSI__
CXXFLAGS = -g -traceback -debug all -xHOST -align -std=c++11 -restrict
F77FLAGS = -g -traceback -debug all -xHOST -align -pad
F90FLAGS = -g -traceback -debug all -xHOST -align -pad

LDFLAGS = -rdynamic

C_LINE_DIRECTIVES = yes
F_LINE_DIRECTIVES = yes

VECTORISE                = yes
VECTORISE_ALIGNED_ARRAYS = no
VECTORISE_INLINE         = no

# -check-uninit aborts for uninitialised variables, which is too strict
DEBUG           = no
CPP_DEBUG_FLAGS = -DCARPET_DEBUG
FPP_DEBUG_FLAGS = -DCARPET_DEBUG
C_DEBUG_FLAGS   = -O0 # -check-uninit
CXX_DEBUG_FLAGS = -O0 # -check-uninit
F77_DEBUG_FLAGS = -O0 -check bounds -check format
F90_DEBUG_FLAGS = -O0 -check bounds -check format

OPTIMISE           = yes
CPP_OPTIMISE_FLAGS = # -DCARPET_OPTIMISE -DNDEBUG
FPP_OPTIMISE_FLAGS = # -DCARPET_OPTIMISE -DNDEBUG
C_OPTIMISE_FLAGS   = -Ofast
CXX_OPTIMISE_FLAGS = -Ofast
F77_OPTIMISE_FLAGS = -Ofast
F90_OPTIMISE_FLAGS = -Ofast

PROFILE           = no
CPP_PROFILE_FLAGS =
FPP_PROFILE_FLAGS =
C_PROFILE_FLAGS   = -pg
CXX_PROFILE_FLAGS = -pg
F77_PROFILE_FLAGS = -pg
F90_PROFILE_FLAGS = -pg

OPENMP           = yes
CPP_OPENMP_FLAGS = -fopenmp
FPP_OPENMP_FLAGS = -fopenmp
C_OPENMP_FLAGS   = -fopenmp
CXX_OPENMP_FLAGS = -fopenmp
F77_OPENMP_FLAGS = -fopenmp
F90_OPENMP_FLAGS = -fopenmp

WARN           = yes
CPP_WARN_FLAGS =
FPP_WARN_FLAGS =
C_WARN_FLAGS   =
CXX_WARN_FLAGS =
F77_WARN_FLAGS =
F90_WARN_FLAGS =



BLAS_DIR  = NO_BUILD
BLAS_LIBS = -mkl

FFTW3_DIR = /opt/fftw/3.3.4/intel/mvapich2_ib

GSL_DIR = /opt/gsl/2.1/intel

HDF5_DIR = /opt/hdf5/intel/mvapich2_ib

LAPACK_DIR  = NO_BUILD
LAPACK_LIBS = -mkl

MPI_DIR  = /opt/mvapich2/intel/ib
MPI_LIBS = mpi

OPENBLAS_DIR  = NO_BUILD
OPENBLAS_LIBS = -mkl

PAPI_DIR = /opt/papi/intel

PETSC_DIR       = /opt/petsc/intel/mvapich2_ib
PETSC_ARCH_LIBS = m

PTHREADS_DIR = NO_BUILD
