# Whenever this version string changes, the application is configured
# and rebuilt from scratch
VERSION = gordon-2015-07-29

CPP = cpp
FPP = cpp
CC  = icc
CXX = icpc
F77 = ifort
F90 = ifort

# -inline-debug-info leads to compiler crashes when used with optimisation
CPPFLAGS = -DMPICH_IGNORE_CXX_SEEK
FPPFLAGS = -traditional
CFLAGS   = -g -traceback -debug all -xHOST -align -std=c99 -ansi_alias -U__STRICT_ANSI__
CXXFLAGS = -g -traceback -debug all -xHOST -align -std=c++0x -D__builtin_signbit=::signbit -D_intel_fast_memcpy=memcpy -D_intel_fast_memset=memset
F77FLAGS = -g -traceback -debug all -xHOST -align -pad -w95 -cm
F90FLAGS = -g -traceback -debug all -xHOST -align -pad -w95 -cm

LDFLAGS = -rdynamic

C_LINE_DIRECTIVES = yes
F_LINE_DIRECTIVES = yes

VECTORISE                = yes
VECTORISE_ALIGNED_ARRAYS = no
VECTORISE_INLINE         = no

# -check-uninit aborts for uninitialised variables, which is too strict
DEBUG           = no
CPP_DEBUG_FLAGS = -DCARPET_DEBUG
FPP_DEBUG_FLAGS = -DCARPET_DEBUG
C_DEBUG_FLAGS   = -O0 # -check-uninit
CXX_DEBUG_FLAGS = -O0 # -check-uninit
F77_DEBUG_FLAGS = -O0 -check bounds -check format # -check all
F90_DEBUG_FLAGS = -O0 -check bounds -check format # -check all

# -O3 miscompiles parts of CarpetLib
# -ip leads to wrong physics when OpenMP is used
OPTIMISE           = yes
CPP_OPTIMISE_FLAGS = # -DCARPET_OPTIMISE -DNDEBUG
FPP_OPTIMISE_FLAGS = # -DCARPET_OPTIMISE -DNDEBUG
C_OPTIMISE_FLAGS   = -O2 -override-limits
CXX_OPTIMISE_FLAGS = -O2 -override-limits
F77_OPTIMISE_FLAGS = -O2 -override-limits
F90_OPTIMISE_FLAGS = -O2 -override-limits

PROFILE           = no
CPP_PROFILE_FLAGS =
FPP_PROFILE_FLAGS =
C_PROFILE_FLAGS   = -pg
CXX_PROFILE_FLAGS = -pg
F77_PROFILE_FLAGS = -pg
F90_PROFILE_FLAGS = -pg

OPENMP           = yes
CPP_OPENMP_FLAGS = -fopenmp
FPP_OPENMP_FLAGS = -fopenmp
C_OPENMP_FLAGS   = -fopenmp
CXX_OPENMP_FLAGS = -fopenmp
F77_OPENMP_FLAGS = -fopenmp
F90_OPENMP_FLAGS = -fopenmp

WARN           = yes
CPP_WARN_FLAGS =
FPP_WARN_FLAGS =
C_WARN_FLAGS   =
CXX_WARN_FLAGS =
F77_WARN_FLAGS =
F90_WARN_FLAGS =



BLAS_DIR  = NO_BUILD
BLAS_LIBS = -mkl

# The installed version does not exist on the compute nodes
FFTW3_DIR = BUILD

# The installed version provides wrong configuration options
#GSL_DIR = /opt/gsl/intel
GSL_DIR = BUILD

LAPACK_DIR  = NO_BUILD
LAPACK_LIBS = -mkl

MPI_DIR  = /opt/mvapich2/intel/ib
MPI_LIBS = mpich opa mpl pthread limic2 rdmacm ibverbs ibumad dl rt

OPENBLAS_DIR  = NO_BUILD
OPENBLAS_LIBS = -mkl

PAPI_DIR = /opt/papi/intel

PETSC_DIR                   = BUILD
PETSC_BLAS_EXTRA_LIB_DIRS   = /opt/intel/composer_xe_2011_sp1.7.256/mkl/lib/intel64 /opt/intel/composer_xe_2011_sp1.7.256/compiler/lib/intel64 /usr/lib64
PETSC_BLAS_EXTRA_LIBS       = mkl_solver_lp64 mkl_intel_lp64 mkl_intel_thread mkl_core   iomp5 imf svml irc   pthread
PETSC_LAPACK_EXTRA_LIB_DIRS = /opt/intel/composer_xe_2011_sp1.7.256/mkl/lib/intel64 /opt/intel/composer_xe_2011_sp1.7.256/compiler/lib/intel64 /usr/lib64
PETSC_LAPACK_EXTRA_LIBS     = mkl_solver_lp64 mkl_intel_lp64 mkl_intel_thread mkl_core   iomp5 imf svml irc   pthread
PETSC_MPI_EXTRA_LIB_DIRS    = /usr/lib64
PETSC_MPI_EXTRA_LIBS        = pthread

PTHREADS_DIR = NO_BUILD
