# Whenever this version string changes, the application is configured
# and rebuilt from scratch
VERSION = zwicky-openmpi-2016-03-05

CPP = cpp
FPP = cpp
CC = icc
CXX = icpc
F90 = ifort

CPPFLAGS = -DCCTK_DISABLE_OMP_COLLAPSE
FPPFLAGS = -DCCTK_DISABLE_OMP_COLLAPSE -traditional
# no -msse3
CFLAGS =  -g -traceback -debug all -xHost -align -std=c99 -ansi_alias -align -U__STRICT_ANSI__ -D_BSD_SOURCE
CXXFLAGS = -g -traceback -debug all -xHost -align -std=c++0x -D__builtin_signbit=::signbit -D_intel_fast_memcpy=memcpy -D_intel_fast_memset=memset
F90FLAGS = -g -traceback -debug all -xHost -align -pad -safe-cray-ptr

LDFLAGS = -rdynamic
LIBDIRS =

C_LINE_DIRECTIVES = yes
F_LINE_DIRECTIVES = yes

VECTORISE = yes
VECTORISE_ALIGNED_ARRAYS = no
VECTORISE_INLINE = no

# -check-uninit fails for asm output operands
DEBUG = no
CPP_DEBUG_FLAGS = -DCARPET_DEBUG
FPP_DEBUG_FLAGS = -DCARPET_DEBUG
C_DEBUG_FLAGS = -O0 # -check-uninit
CXX_DEBUG_FLAGS = -O0 # -check-uninit
F90_DEBUG_FLAGS = -O0 -check bounds -check format # -check all

OPTIMISE = yes
CPP_OPTIMISE_FLAGS = #-DCARPET_OPTIMISE -DNDEBUG
FPP_OPTIMISE_FLAGS = #-DCARPET_OPTIMISE -DNDEBUG
C_OPTIMISE_FLAGS = -O2 -no-prec-div   # -Ofast segfaults in CTGBase
CXX_OPTIMISE_FLAGS = -Ofast
F90_OPTIMISE_FLAGS = -Ofast

PROFILE = no
CPP_PROFILE_FLAGS =
FPP_PROFILE_FLAGS =
C_PROFILE_FLAGS = -pg
CXX_PROFILE_FLAGS = -pg
F90_PROFILE_FLAGS = -pg

OPENMP = yes
CPP_OPENMP_FLAGS = -fopenmp
FPP_OPENMP_FLAGS = -fopenmp
C_OPENMP_FLAGS = -fopenmp
CXX_OPENMP_FLAGS = -fopenmp
F90_OPENMP_FLAGS = -fopenmp

WARN = yes
CPP_WARN_FLAGS =
FPP_WARN_FLAGS =
C_WARN_FLAGS =
CXX_WARN_FLAGS =
F90_WARN_FLAGS =



BLAS_DIR = NO_BUILD
BLAS_LIBS = -mkl

BOOST_DIR = BUILD

GSL_DIR = /usr/local/gsl-1.15-gcc

# The system FFTW3 is not parallel
# FFTW3_DIR = /usr/local/fftw3-3.2.2
FFTW3_DIR = BUILD

HDF5_DIR = BUILD

LAPACK_DIR = NO_BUILD
LAPACK_LIBS = -mkl

MPI_DIR = /usr/local/openmpi-1.4.1-intel-11.1
MPI_INC_DIRS = /usr/local/openmpi-1.4.1-intel-11.1/include
MPI_LIB_DIRS = /usr/local/openmpi-1.4.1-intel-11.1/lib /opt/torque/lib
MPI_LIBS = mpi open-rte open-pal numa rdmacm ibverbs torque util

OPENBLAS_DIR = NO_BUILD
OPENBLAS_LIBS = -mkl mkl_core

# The system PAPI does not work correctly and aborts during initialization
# PAPI_DIR = /usr/local/papi-4.0.0.3
PAPI_DIR = BUILD

PETSC_DIR = BUILD
PETSC_BLAS_EXTRA_LIB_DIRS = /usr/local/Intel_ICS/composer_xe_2013_sp1.2.144/mkl/lib/intel64 /usr/local/Intel_ICS/composer_xe_2013_sp1.2.144/compiler/lib/intel64 /usr/lib64
PETSC_BLAS_EXTRA_LIBS = mkl_intel_lp64 mkl_intel_thread mkl_core iomp5   pthread
PETSC_LAPACK_EXTRA_LIB_DIRS = /usr/local/Intel_ICS/composer_xe_2013_sp1.2.144/mkl/lib/intel64 /usr/local/Intel_ICS/composer_xe_2013_sp1.2.144/compiler/lib/intel64 /usr/lib64
PETSC_LAPACK_EXTRA_LIBS = mkl_intel_lp64 mkl_intel_thread mkl_core iomp5   pthread
PETSC_MPI_EXTRA_LIB_DIRS = /usr/lib64
PETSC_MPI_EXTRA_LIBS = pthread

PTHREADS_DIR = NO_BUILD
