# Whenever this version string changes, the application is configured
# and rebuilt from scratch
VERSION = orca-2016-02-19

CPP = cpp
FPP = cpp
CC  = icc
CXX = icpc
F90 = ifort

CPPFLAGS = -DCCTK_DISABLE_OMP_COLLAPSE -Dasm=__asm__
FPPFLAGS = -DCCTK_DISABLE_OMP_COLLAPSE -traditional
CFLAGS   = -g -traceback -debug all -xHOST -align -std=c99 -ansi_alias -U__STRICT_ANSI__
CXXFLAGS = -g -traceback -debug all -xHOST -align -std=c++0x -restrict
F90FLAGS = -g -traceback -debug all -xHOST -align -pad

LDFLAGS = -rdynamic
LIBS = ifcore imf svml irc m

C_LINE_DIRECTIVES = yes
F_LINE_DIRECTIVES = yes

DISABLE_INT16 = yes

VECTORISE                = yes
VECTORISE_INLINE         = yes
VECTORISE_ALIGNED_ARRAYS = no

# -check-uninit aborts for uninitialised variables, which is too strict
DEBUG           = no
CPP_DEBUG_FLAGS = -DCARPET_DEBUG
FPP_DEBUG_FLAGS = -DCARPET_DEBUG
C_DEBUG_FLAGS   = -O0 # -check-uninit
CXX_DEBUG_FLAGS = -O0 # -check-uninit
F90_DEBUG_FLAGS = -O0 -check bounds -check format

OPTIMISE           = yes
CPP_OPTIMISE_FLAGS = # -DCARPET_OPTIMISE -DNDEBUG
FPP_OPTIMISE_FLAGS = # -DCARPET_OPTIMISE -DNDEBUG
C_OPTIMISE_FLAGS   = -Ofast
CXX_OPTIMISE_FLAGS = -Ofast
F90_OPTIMISE_FLAGS = -Ofast

PROFILE           = no
CPP_PROFILE_FLAGS =
FPP_PROFILE_FLAGS =
C_PROFILE_FLAGS   = -pg
CXX_PROFILE_FLAGS = -pg
F90_PROFILE_FLAGS = -pg

OPENMP           = yes
CPP_OPENMP_FLAGS = -fopenmp
FPP_OPENMP_FLAGS = -fopenmp
C_OPENMP_FLAGS   = -fopenmp
CXX_OPENMP_FLAGS = -fopenmp
F90_OPENMP_FLAGS = -fopenmp

WARN           = yes
CPP_WARN_FLAGS =
FPP_WARN_FLAGS = -Wall
C_WARN_FLAGS   =
CXX_WARN_FLAGS =
F90_WARN_FLAGS =



BLAS_DIR  = NO_BUILD
BLAS_LIBS = -mkl

# FFTW3_DIR = /opt/sharcnet/fftw/3.3.2/intel
FFTW3_DIR = BUILD

# GSL_DIR = /opt/sharcnet/gsl/1.15/intel
GSL_DIR = BUILD

HDF5_DIR = /opt/sharcnet/hdf/5.1.8.11/serial

LAPACK_DIR = NO_BUILD
LAPACK_LIBS = -mkl

MPI_DIR = /opt/sharcnet/openmpi/1.8.7/intel-15.0.3/std

OPENBLAS_DIR  = NO_BUILD
OPENBLAS_LIBS = -mkl

PETSC_DIR = /opt/sharcnet/petsc_slepc/3.6.1/mpi

PTHREADS_DIR = NO_BUILD
