# Whenever this version string changes, the application is configured
# and rebuilt from scratch
VERSION = stampede-2015-04-13

CPP = cpp
FPP = cpp
CC  = icc
CXX = icpc
F77 = ifort
F90 = ifort

CPPFLAGS = -g -DCCTK_DISABLE_OMP_COLLAPSE -DMPICH_IGNORE_CXX_SEEK -D_XOPEN_SOURCE -D_XOPEN_SOURCE_EXTENDED
FPPFLAGS = -g -DCCTK_DISABLE_OMP_COLLAPSE -traditional
CFLAGS   = -g -traceback -debug all -xhost -align -std=gnu99
CXXFLAGS = -g -traceback -debug all -xhost -align -std=gnu++11
F77FLAGS = -g -traceback -debug all -xhost -align -pad -safe-cray-ptr
F90FLAGS = -g -traceback -debug all -xhost -align -pad -safe-cray-ptr

LDFLAGS = -rdynamic

C_LINE_DIRECTIVES = yes
F_LINE_DIRECTIVES = yes

VECTORISE                = yes
VECTORISE_ALIGNED_ARRAYS = no
VECTORISE_INLINE         = no

DEBUG           = no
CPP_DEBUG_FLAGS = -DCARPET_DEBUG
FPP_DEBUG_FLAGS = -DCARPET_DEBUG
C_DEBUG_FLAGS   = -O0
CXX_DEBUG_FLAGS = -O0
F77_DEBUG_FLAGS = -O0 -check bounds -check format
F90_DEBUG_FLAGS = -O0 -check bounds -check format

OPTIMISE           = yes
CPP_OPTIMISE_FLAGS = # -DCARPET_OPTIMISE -DNDEBUG
FPP_OPTIMISE_FLAGS = # -DCARPET_OPTIMISE -DNDEBUG
C_OPTIMISE_FLAGS   = -Ofast
CXX_OPTIMISE_FLAGS = -Ofast
F77_OPTIMISE_FLAGS = -Ofast
F90_OPTIMISE_FLAGS = -Ofast

CPP_NO_OPTIMISE_FLAGS  =
FPP_NO_OPTIMISE_FLAGS  =
C_NO_OPTIMISE_FLAGS    = -O0
CXX_NO_OPTIMISE_FLAGS  = -O0
CUCC_NO_OPTIMISE_FLAGS =
F77_NO_OPTIMISE_FLAGS  = -O0
F90_NO_OPTIMISE_FLAGS  = -O0

PROFILE           = no
CPP_PROFILE_FLAGS =
FPP_PROFILE_FLAGS =
C_PROFILE_FLAGS   = -pg
CXX_PROFILE_FLAGS = -pg
F77_PROFILE_FLAGS = -pg
F90_PROFILE_FLAGS = -pg

OPENMP           = yes
CPP_OPENMP_FLAGS = -fopenmp
FPP_OPENMP_FLAGS = -fopenmp
C_OPENMP_FLAGS   = -fopenmp
CXX_OPENMP_FLAGS = -fopenmp
F77_OPENMP_FLAGS = -fopenmp
F90_OPENMP_FLAGS = -fopenmp

WARN           = yes
CPP_WARN_FLAGS =
FPP_WARN_FLAGS =
C_WARN_FLAGS   =
CXX_WARN_FLAGS =
F77_WARN_FLAGS =
F90_WARN_FLAGS =


BLAS_DIR  = NO_BUILD
BLAS_LIBS = -mkl

HWLOC_DIR        = BUILD
HWLOC_EXTRA_LIBS = numa

LAPACK_DIR  = NO_BUILD
LAPACK_LIBS = -mkl

OPENBLAS_DIR  = NO_BUILD
OPENBLAS_LIBS = -mkl

HDF5_DIR = /opt/apps/intel15/hdf5/1.8.16/x86_64

BOOST_DIR = /opt/apps/intel15/boost/1.55.0/x86_64

GSL_DIR = /opt/apps/intel15/gsl/1.16/x86_64

# necessary until the thorn uses pkg-config
FFTW3_DIR = /opt/apps/intel15/mvapich2_2_1/fftw3/3.3.4

# needs latest compiler
OPENCL_DIR      = /opt/apps/intel/opencl
OPENCL_LIB_DIRS = /opt/apps/intel/opencl/lib64
OPENCL_LIBS     = -lOpenCL

PAPI_DIR = /opt/apps/papi/5.3.0/x86_64

# PETSC_DIR       = /opt/apps/intel13/mvapich2_1_9/petsc/3.5/sandybridge
# PETSC_ARCH_LIBS = petsc superlu_4.3 HYPRE spai superlu_dist_3.3 cmumps dmumps smumps zmumps mumps_common pord scalapack
PETSC_DIR                   = BUILD
PETSC_BLAS_EXTRA_LIB_DIRS   = /opt/apps/intel/13/composer_xe_2013.2.146/mkl/lib/intel64
PETSC_BLAS_EXTRA_LIBS       = mkl_intel_lp64 mkl_intel_thread mkl_core iomp5
PETSC_LAPACK_EXTRA_LIB_DIRS = /opt/apps/intel/13/composer_xe_2013.2.146/mkl/lib/intel64
PETSC_LAPACK_EXTRA_LIBS     = mkl_intel_lp64 mkl_intel_thread mkl_core iomp5

PTHREADS_DIR = NO_BUILD
