# Whenever this version string changes, the application is configured
# and rebuilt from scratch
VERSION = sunnyvale-2016-04-01

CPP = /opt/gcc/5.1.0/bin/cpp
FPP = /opt/gcc/5.1.0/bin/cpp
CC = /opt/gcc/5.1.0/bin/gcc
CXX = /opt/gcc/5.1.0/bin/g++
F90 = /opt/gcc/5.1.0/bin/gfortran

CPPFLAGS =
FPPFLAGS = -traditional
CFLAGS = -g3 -march=native -std=gnu11
CXXFLAGS = -g3 -march=native -std=gnu++11
F90FLAGS = -g3 -march=native -fcray-pointer -ffixed-line-length-none

# SYS_INC_DIRS =
# LDFLAGS =
# LIBDIRS =
LIBS = gfortran

C_LINE_DIRECTIVES = yes
F_LINE_DIRECTIVES = yes

VECTORISE = yes
VECTORISE_ALIGNED_ARRAYS = no
VECTORISE_INLINE = no

DEBUG = no
CPP_DEBUG_FLAGS = -DCARPET_DEBUG
FPP_DEBUG_FLAGS = -DCARPET_DEBUG
C_DEBUG_FLAGS = -fbounds-check -fstack-protector-all -ftrapv
CXX_DEBUG_FLAGS = -fbounds-check -fstack-protector-all -ftrapv
F90_DEBUG_FLAGS = -fcheck=bounds,do,mem,pointer,recursion -finit-character=65 -finit-integer=42424242 -finit-real=nan -fstack-protector-all -ftrapv

OPTIMISE = yes
CPP_OPTIMISE_FLAGS =
FPP_OPTIMISE_FLAGS =
C_OPTIMISE_FLAGS = -Ofast
CXX_OPTIMISE_FLAGS = -Ofast
F90_OPTIMISE_FLAGS = -Ofast

PROFILE = no
CPP_PROFILE_FLAGS =
FPP_PROFILE_FLAGS =
C_PROFILE_FLAGS = -pg
CXX_PROFILE_FLAGS = -pg
F90_PROFILE_FLAGS = -pg

OPENMP = yes
CPP_OPENMP_FLAGS = -fopenmp
FPP_OPENMP_FLAGS = -fopenmp
C_OPENMP_FLAGS = -fopenmp
CXX_OPENMP_FLAGS = -fopenmp
F90_OPENMP_FLAGS = -fopenmp

# -Wuninitialized is not supported without -O
WARN = yes
CPP_WARN_FLAGS = -Wall
FPP_WARN_FLAGS = -Wall
C_WARN_FLAGS = -Wall -Wno-unused-local-typedefs -Wfloat-conversion
CXX_WARN_FLAGS = -Wall -Wno-unused-local-typedefs -Wfloat-conversion
F90_WARN_FLAGS = -Wall -Wno-missing-include-dirs



FFTW3_DIR = BUILD

HDF5_DIR = BUILD

MPI_DIR = /opt/openmpi/1.8.5-gcc-5.1.0
